body {
    background-color: #000;
    text-align: center;
}

.main-heading {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.download-link {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana;
    font-weight: normal;
}

.second-heading {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    color: #ffffff;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    text-align: center;
    font-weight: normal;
}

.footer {
    text-align: right;
    color: gray;
    font-family: Verdana;
    font-weight: normal;
}